@use "../../styles/variables" as *;

.formStyling {
  display: flex;
}

.newsletter {
  background-color: $green;
  border: none;
  color: $white;
  padding: 0.5vw 2vw;
}

.login,
.signup {
  flex-direction: column;
  position: relative;
  padding-bottom: 6vw;
  margin-bottom: 2vw;

  h5 {
    align-self: flex-start;
    font-weight: 400;

    span {
      text-decoration: underline;
      color: $bluegreen;
    }
  }
}

.loginButton,
.signupButton {
  padding: 0.5vw 2.5vw;
  background-color: $green;
  border: none;
  color: $white;
  position: absolute;
  right: 0;
  bottom: 0;
}

.signup div:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  display: flex;
  align-items: center;

  input {
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    aspect-ratio: 1/1;
    border: 2px solid green;
    background-color: white;
    cursor: pointer;
    margin-right: 1vw !important;

    &:checked {
      background-color: green;
    }
  }

  p {
    margin-bottom: -1.5vw;
    margin-left: 2.5vw;
    display: block;
    margin-right: auto;
  }
}

.listingForm {
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5vw;

  select {
    border: 2px solid $green;
    padding: 1vw;
    width: 100%;
    background-color: #edecec;
  }

  .listingButton {
    background-color: $green;
    color: white;
    margin-left: auto;
    display: block;
    padding: 1vw 4vw;
    border: none;
    margin-top: 1vw;
  }
}
