@use "../../styles/variables" as *;

.donationSection {
  color: white;
  margin: 2vw 0;

  h1,
  h4,
  h6 {
    font-weight: 400;
    margin: 0.5vw 0;
  }

  h1 {
    color: $bluegreen;
    text-align: right;
  }

  .donationOne,
  .donationTwo {
    background-position: center;
    background-size: cover;
    padding: 2vw 4vw;
  }

  .donationOne {
    background-image: url("public/banner_image2.webp");
  }

  .donationTwo {
    background-image: url("public/banner_image3.webp");
  }

  @media screen and (max-width: 1300px) {
    h1,
    h4,
    h6 {
      margin: 0.7vw 0;
    }

    .donationOne,
    .donationTwo {
      padding: 4vw;
    }
  }

  @media screen and (max-width: 1050px) {
    h1,
    h4,
    h6 {
      margin: 1vw 0;
    }

    .donationOne,
    .donationTwo {
      padding: 6vw 1vw;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 4vw 0;

    h1,
    h4,
    h6 {
      margin: 2vw 0;
    }

    .donationOne,
    .donationTwo {
      padding: 8vw 4vw;
    }
  }
}
