@use "../../styles/variables" as *;

//BaseStyling
.cardStyling {
  img {
    width: 100%;
  }
}

//Custom Styling
.randomProducts,
.randomCategories {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
  }

  h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 166, 118, 0.75);
    color: $white;
    font-weight: 400;
    text-align: center;
    padding: 0.8vw;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover h5 {
    opacity: 1;
  }
}

.randomCategories h5 {
  top: 0;
  bottom: initial;
  text-decoration: underline;
}

.categoryPage{
  cursor: pointer;
  margin-bottom: 2.5vw;
  position: relative;
  img{
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1/1;
  }

  div{
    background-color: rgba(0, 166, 118, 0.75);
    height: 20%;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    display: flex;


    h5{
      color: $white;
      margin-left: 1vw;
      font-weight: 400;
    }
    align-items: center;
  }

  &:hover{
    div{
      opacity: 1;
      transition: all 200ms ease-in-out;
    }
  }
}

.singleProduct{
  padding-left: 0;
  padding-right: 15vw;
  img{
    height: 80%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  h5{
    font-size: 3vw;
    padding: 1vw 0;
  }

  h3{
    padding-top: 2vw;
    font-weight: 700;
  }
}