.misssionStatement {
  background-image: url("/bannerimage1.webp");
  background-position: center 80%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2vw;
  margin: 3vw 0;
  text-align: center;
  color: white;

  h1,
  h3 {
    margin: 2vw;
    font-weight: 400;
    text-shadow: rgb(32, 32, 32) 1px 0 10px;
  }

  h3 {
    padding: 0 17vw;
  }

  @media screen and (max-width: 1300px) {
    padding: 4vw 0;
    margin: 4vw 0;

    h1,
    h3 {
      margin: 2vw;
    }

    h3 {
      padding: 0 14vw;
    }
  }

  @media screen and (max-width: 1050px) {
    padding: 6vw 0;
    margin: 5vw 0;

    h1,
    h3 {
      margin: 3vw;
    }

    h3 {
      padding: 0 14vw;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20vw 0;
    margin: 6vw 0;

    h1,
    h3 {
      margin: 3vw;
    }

    h3 {
      padding: 0 8vw;
    }
  }
}
