.misssionStatement {
  background-image: url("public/bannerimage1.webp");
  background-position: center 80%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2vw;
  margin: 3vw 0;
  text-align: center;
  color: white;

  h1,
  h3 {
    margin: 2vw;
    font-weight: 400;
    text-shadow: rgb(32, 32, 32) 1px 0 10px;
  }

  h3 {
    padding: 0 17vw;
  }
}
