@use "../../styles/variables" as *;
.dashBoard {
  button {
    background-color: $green;
    border: none;
    padding: 1vw 3vw;
    color: $white;
    display: block;
    cursor: pointer;
    margin-left: auto;

    @media screen and (max-width: 768px) {
      padding: 2vw 6vw;
      margin-bottom: 5vw;
    }
  }
  .buttons {
    width: 100%;
    display: flex;
    button {
      width: 100%;
      border: 2px solid $green;
      padding: 1vw;
      font-size: 1.5vw;
    }
    padding-bottom: 5vw;
    padding-top: 3vw;

    @media screen and (max-width: 1300px) {
      button {
        font-size: 1.8vw;
      }
    }

    @media screen and (max-width: 1050px) {
      button {
        font-size: 2vw;
      }
    }

    @media screen and (max-width: 768px) {
      button {
        font-size: 4vw;
      }
    }
  }
}
