.column-2 {
  grid-template-columns: 1fr 1fr;
}

.column-3 {
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr 1fr;
  }
}

.column-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.column-13 {
  grid-template-columns: 1fr 5fr;
  margin: 4vw 8vw;
}

.column-414 {
  grid-template-columns: 4fr 1fr 4fr;
}
.column-18 {
  grid-template-columns: 1fr 8fr;
}

.gap-2 {
  gap: 2vw;

  @media screen and (max-width: 1050px) {
    gap: 1vw;
  }
}

.gap-4 {
  gap: 4vw;

  @media screen and (max-width: 1050px) {
    gap: 2vw;
  }

  @media screen and (max-width: 768px) {
    gap: 4vw;
  }
}

.gridStyling {
  display: grid;
  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}
